# /etc/systemd/system/crop_upload.service
[Unit]
Description=crop upload
After=network-online.target

[Service]
User=1000
Group=1000
Type=exec
ExecStart=/opt/crop/crop upload
ExecStopPost=/bin/rm -rf /opt/crop/crop.lock

[Install]
WantedBy=default.target
